<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eneserdogan.arsis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".verifyEmail"></activity>
        <activity android:name=".akademisyenRandevuİptal" />
        <activity android:name=".randevuKontrolHoca" />
        <activity android:name=".randevuListeleHoca" />
        <activity android:name=".Randevuİptal" />
        <activity android:name=".RandevuListeleOgrenci" />
        <activity android:name=".RandevuKontrol" />
        <activity android:name=".RandevuSaat" />
        <activity android:name=".RandevuTarih" />
        <activity android:name=".RandevuHoca" />
        <activity android:name=".RandevuBolum" />
        <activity android:name=".CustomOnItemSelectedListener" />
        <activity android:name=".studentHomeActivity" />
        <activity android:name=".AkademisyenActivity" />
        <activity android:name=".ProfileActivityHoca" />
        <activity android:name=".Home" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ForgottPasswordActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>